@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewData["Title"] = "High Rated Movies";
}
@model IEnumerable<Movie>

<h2>High Rated Movies</h2>

<!-- Button to navigate back to all movies -->


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr id="movie-@movie.MovieId">
                <td>@movie.Title</td>
                <td>@movie.Genre</td>
                <td>@movie.Rating</td>
            </tr>
        }
    </tbody>
</table>
<br/>
<button class="btn btn-secondary mb-3" onclick="window.location.href='/Movies/Index'">Back to All Movies</button>


